---
---

@import 'jekyll-theme-dinky';

.kbd,kbd {
    background: #ccc;
    color: #400;
    padding: 1pt;
    font-family: monospace;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.2em;
    border-bottom: gray;
    border-right: gray;
}
blockquote {
    border-left: 0.2rem solid #ccc;
}
blockquote > ul {
    margin-top: -15px;
}
header {
    min-width: 200px;
}
.header-link {
    font-size:0.64em; 
    font-style: italic;
    line-height: 0.64em;
    margin-top: 0.2em;
}
.header-main {
    font-size: 1.5em;
    line-height: 1.2em;
    margin-top: 0.2em;
}
h1.header {
    font-size: 20px;
}
a {
    color: #800000;
    font-weight: 400;
}
bottom-nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  bottom-nav {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.nav-button {
  background: #800000;
  color: #fff;
  border-radius: 3pt;
  padding: 0.3em;
  padding-left: 0.6em;
  padding-left: 0.6em;
}
summary > h3 {
  display: inline-block;
}
summary > h4 {
  display: inline-block;
}
