---
---

@import 'jekyll-theme-dinky';

h1,h2,h3,h4,h5 {
  font-family: Helvetica, sans-serif;
  font-weight: 500,
}

.kbd,kbd {
    background: #ccc;
    color: #400;
    padding: 1pt;
    font-family: monospace;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.2em;
    border-bottom: gray;
    border-right: gray;
}
blockquote {
    border-left: 0.2rem solid #ccc;
}
blockquote > ul {
    margin-top: -15px;
}
header {
    min-width: 200px;
}
.header-link {
    font-size:0.64em; 
    font-style: italic;
    line-height: 0.64em;
    margin-top: 0.2em;
    color: #ce8400;
}
.header-main {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.2em;
  margin-top: 0.2em;
}
h1.header {
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}
a {
  color: #000000;
  font-weight: 600;
}
bottom-nav {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0.5rem;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  bottom-nav {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.nav-button {
  color: #000000;
  border-radius: 3pt;
  border-style: solid;
  border-width: 1pt;
  border-color: #000000;
  padding: 0.3em;
  padding-left: 0.6em;
  padding-right: 0.6em;
  font-weight: 600;
}
.nav-button:focus {
  border-color: #c9e1f7; 
}
.nav-img {
  width: 1.1em;
  height: 1em;
  position: relative;
  margin: 0;
  margin-bottom: -0.15em;
  border: none;
  padding:0;
}
summary > h3 {
  display: inline-block;
}
summary > h4 {
  display: inline-block;
}
footer {
  bottom: 41px;
  color: #666;
}
footer > a {
  color: #a44;
  font-style: italic;
}
